@import 'colours';

form {
  .panel-indent {
    label {
      margin-top: 0rem;
    }

    div.field_with_errors label:not(.inline) {
      margin-top: 0rem !important;
    }
    div.field_with_errors label:not(.error) {
      margin-top: 0.75rem !important;
    }
  }

  .summary-result{
    font-weight: bold;
    &.success {
      color: $turquoise;
    }
    &.partial {
      color: $orange;
    }
    &.failure {
      color: $error-colour;
    }
  }
}