log/**/*
tmp/**/*
.env
.env.test
node_modules
coverage
.bundle
.git
spec
.env.*
.rspec*
.rubocop*
.ruby-version
azure-pipelines.yml
docker-compose*
Dockerfile*
yarn-error.log
docker
vendor/bundle
public/assets
public/packs
public/packs-test
.DS_Store
*.swp
*.swo
.idea
.vscode
README*
CHANGELOG*