header
  .row
    .small-12.medium-12.large-12.columns
      h2 =t('processed_applications.detail.title')

=build_section 'Personal details', @overview, %w[full_name date_of_birth ni_number status number_of_children total_monthly_income]
=build_section 'Application details', @overview, %w[fee jurisdiction date_received form_name emergency_reason reference]
=build_section 'Processing details', @processed, %w[processed_on processed_by]
=build_section 'Result', @result, %w[savings income]

=render(partial: 'shared/remission_type', locals: { source: @result })
