base:
  applicationPort: 3000
  image: 'hmctspublic.azurecr.io/help-with-fees/hwf-staffapp:latest'
  ingressHost: hwf-staffapp.{{ .Values.global.environment }}.platform.hmcts.net
  aadIdentityName: help-with-fees
  environment:
    RAILS_ENV: 'production'
    SECRETS_PATH: "/mnt/secrets/help-with-fees"
  keyVaults:
    help-with-fees:
      secrets:
        - name: hwf-fqdn
          alias: DATABASE_HOST
        - name: hwf-username
          alias: DATABASE_USERNAME
        - name: hwf-password
          alias: DATABASE_PASSWORD
        - name: prod-hwf-public-secret-token
          alias: prod-hwf-public-secret-token
        - name: dev-hwf-public-secret-token
          alias: SECRET_KEY_BASE  




