base:
  applicationPort: 3000
  image: 'hmctspublic.azurecr.io/help-with-fees/staffapp:latest'
  ingressHost: hwf-staffapp.{{ .Values.global.environment }}.platform.hmcts.net
  aadIdentityName: help-with-fees
  memoryRequests: "512Mi"
  cpuRequests: "500m"
  memoryLimits: "2048Mi"
  cpuLimits: "1000m"
  environment:
    RAILS_ENV: 'production'
    SECRETS_PATH: "/mnt/secrets/help-with-fees"
    SERVICE_NOW_EMAIL: "DCD-HWFSupportServiceDeskDEV@HMCTS.NET"
    RAILS_SERVE_STATIC_FILES: true
    RACK_ENV: "production"
    WEB_CONCURRENCY: 1
    SENTRY_SSL_VERIFICATION: false
    RAILS_LOG_TO_STDOUT: true
    LOG_LEVEL: "info"
    DOCKER_STATE: "migrate"
    DB_USERNAME: "pgadmin"
    DB_NAME: "helpwithfees"
    DB_PORT: 5432
    SMTP_DOMAIN: "staff.demo.hwf.dsd.io"
    SMTP_HOSTNAME: "smtp.sendgrid.net"
    SMTP_PORT: 587
    DWP_API_PROXY: "http://help-with-fees-benefit-checker-api-base"
    ACTIVE_JOB_ENABLED: true
    NOTIFY_COMPLETED_NEW_REFUND_TEMPLATE_ID: "dbd72fa4-0232-4825-9460-b6f1d369b481"
    NOTIFY_COMPLETED_ONLINE_TEMPLATE_ID: "ab017b1b-0f5a-45df-b2c5-467f97a54828"
    NOTIFY_COMPLETED_PAPER_TEMPLATE_ID: "115e4918-ce48-4bfe-8784-1b8404237d4c"
    NOTIFY_COMPLETED_CY_NEW_REFUND_TEMPLATE_ID: "d92e6d1d-08b6-4124-84d3-a93bfb6b4c26"
    NOTIFY_COMPLETED_CY_ONLINE_TEMPLATE_ID: "61cb8166-c137-459b-b1c0-b0ca63c1da6e"
    NOTIFY_COMPLETED_CY_PAPER_TEMPLATE_ID: "9f52cb39-33bd-4df6-871c-e337c058972b"
    NOTIFY_PASSWORD_RESET_TEMPLATE_ID: "fc94a9eb-99d1-47ad-a5d0-f47f16128766"
    NOTIFY_DWP_DOWN_TEMPLATE_ID: "22025e7a-1bdd-450b-bb8f-a35f7493bd7c"
    NOTIFY_USER_INVITE_TEMPLATE_ID: "9e7bb557-8512-4913-9f91-f181487f4fe3"
    NOTIFY_RAW_DATA_READY_TEMPLATE_ID: "9025a651-90ac-4d31-8448-0b295f02a81a"
    TRIGGER: Base-1
    NEW_LEGISLATION_ACTIVE_DATE: '27-10-2023'
    AZURE_STORAGE_CONTAINER: 'private'
    AZURE_STORAGE_ACCOUNT: 'helpwithfeessademo'
  keyVaults:
    help-with-fees:
      secrets:
        - name: hwf-fqdn
          alias: DATABASE_HOST
        - name: hwf-password
          alias: DATABASE_PASSWORD
        - name: hwf-public-secret-token
          alias: SECRET_KEY_BASE
        - name: hwf-staff-secret-token
          alias: SECRET_TOKEN
        - name: hwf-staff-submission-token
          alias: SUBMISSION_TOKEN
        - name: hwf-app-insights-instrumentation-key
          alias: AZURE_APP_INSIGHTS_INSTRUMENTATION_KEY
        - name: hwf-staff-sentry-dsn
          alias: SENTRY_DSN
        - name: hwf-password
          alias: DB_PASSWORD
        - name: hwf-fqdn
          alias: DB_HOST
        - name: hwf-staff-smtp-username
          alias: SMTP_USERNAME
        - name: hwf-staff-smtp-password
          alias: SMTP_PASSWORD
        - name: hwf-staff-dwp-notification-alert-emails
          alias: DWP_NOTIFICATION_ALERT_EMAILS
        - name: hwf-staff-hmrc-ttp-secret
          alias: HMRC_TTP_SECRET
        - name: hwf-staff-hmrc-client-id
          alias: HMRC_CLIENT_ID
        - name: hwf-staff-hmrc-secret
          alias: HMRC_SECRET
        - name: hwf-staff-hmrc-api-url
          alias: HMRC_API_URL
        - name: hwf-staff-notify-api-key
          alias: GOVUK_NOTIFY_API_KEY
        - name: hwf-staff-hmrc-office-code
          alias: HMRC_OFFICE_CODE
        - name: hwf-staff-maintenance-enabled
          alias: MAINTENANCE_ENABLED
        - name: hwf-staff-maintenance-allowed-ips
          alias: MAINTENANCE_ALLOWED_IPS
        - name: hwf-storage-account-primary-access-key
          alias: AZURE_STORAGE_ACCESS_KEY
