header
  h2.heading-xlarge =t("#{state}_applications.detail.title")

=build_section_with_defaults 'Personal details', @applicant
=build_section_with_defaults 'Application details', @details
=build_section 'Benefits', @application_view, %w[benefits]
=build_section 'Income', @application_view, %w[number_of_children total_monthly_income]
=build_section 'Result', @application_view, %w[benefits_result savings_result income_result]

=render(partial: 'shared/remission_type', locals: { source: @result })

=render(partial: 'shared/processed_summary', locals: { source: @processing_details })
