.callout {
  padding: 30px 15px;
  margin-bottom: 30px;
  text-align: center;

  &.result {
    background-color: govuk-colour("grey-1");
    color: govuk-colour("white");
  }

  .check {
    display: inline-block;
    padding-right: 10px;
  }

  .reference-number {
    // @include core-36;
    font-weight: bold;
    display: block;
  }
}

.dwp-restored {
  padding: 10px 15px 0px 15px;
  background-color: #e7ebda;
  border: 1px solid govuk-colour("green");
}

.dwp-warning {
  padding: 10px 15px 0px 15px;
  background-color: govuk-colour("orange");
  border: 1px solid govuk-colour("orange");
}

.dwp-warning p, .dwp-restored p {
  font-size: 16px !important;
}

.ie-warning {
  color: $govuk-error-colour;
  background: $error-background;
}

#global-cookie-message {
  padding: 10px 0;
  background-color: #d5e8f3;
  display: block;
  p {
    max-width: 960px;
    margin: auto;
  }
}
