$is-ie: false !default;
$mobile-ie6: true !default;

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@mixin media($size: false, $max-width: false, $min-width: false, $ignore-for-ie: false) {
  @if $is-ie and ($ignore-for-ie == false) {
    @if $size != mobile {
      @if ($ie-version == 6 and $mobile-ie6 == false) or $ie-version > 6 {
        @content;
      }
    }
  } @else {
    @if $size == desktop {
      @media (min-width: 769px){
        @content;
      }
    } @else if $size == tablet {
      @media (min-width: 641px){
        @content;
      }
    } @else if $size == mobile {
      @media (max-width: 640px){
        @content;
      }
    } @else if $max-width != false {
      @media (max-width: $max-width){
        @content;
      }
    } @else if $min-width != false {
      @media (min-width: $min-width){
        @content;
      }
    } @else {
      @media (min-width: $size){
        @content
      }
    }
  }
}

@mixin ie-lte($version) {
  @if $is-ie {
    @if $ie-version <= $version {
      @content;
    }
  }
}
@mixin ie($version) {
  @if $is-ie {
    @if $ie-version == $version {
      @content;
    }
  }
}

@mixin inline-block($min-height: "") {
  display: -moz-inline-stack;
  display: inline-block;

  @if $min-height != "" {
    min-height: $min-height;
  }

  @include ie-lte(7) {
    zoom: 1;
    display: inline;
  }

  @include ie(6) {
    @if $min-height != "" {
      height: $min-height;
    }
  }
}
