p + h3,
ul + h3,
table + h3,
.panel + h3 {
  margin-top: 30px;
}

h3 + h5,
ul + h5,
p + h5 {
  margin-top: 15px;
}

.heading-icon {
  min-height: 37px;
  padding-left: 45px;
  padding-top: 6px;
  background-image: asset_url('icons-header-sprite.png');
  background-repeat: no-repeat;
}

.heading-icon-evidence {
  background-position: 0 0;
}
.heading-icon-part_payment {
  background-position: 0 -200px;
}
.heading-icon-completed {
  background-position: 0 -400px;
}

h2.guide-headline {
  padding-left: 80px;
  background-repeat: no-repeat;
  background-size: 55px;

  &.guide-headline-appeals {
    background-image: asset_url('icon-sml-appeals.png');
  }
  &.guide-headline-evidence {
    background-image: asset_url('icon-sml-evidence.png');
  }
  &.guide-headline-fraud {
    background-image: asset_url('icon-sml-fraud.png');
  }
  &.guide-headline-part-fee {
    background-image: asset_url('icon-sml-part-fee.png');
  }
  &.guide-headline-process {
    background-image: asset_url('icon-sml-process.png');
  }

  span {
    display: block;
    margin-bottom: 0;
    font-weight: normal;
    font-size: rem-calc(23);
  }
}

h4.guide-subheadline {
  font-weight: normal;
}
