p + h3,
ul + h3,
table + h3,
.panel + h3 {
  margin-top: 30px;
}

h3 + h5,
ul + h5,
p + h5 {
  margin-top: 15px;
}

.heading-icon {
  min-height: 37px;
  padding-left: 45px;
  padding-top: 6px;
  background-image: url('icons-header-sprite.png');
  background-repeat: no-repeat;
}

.heading-icon-evidence {
  background-position: 0 0;
}
.heading-icon-part_payment {
  background-position: 0 -200px;
}
.heading-icon-completed {
  background-position: 0 -400px;
}

.heading-icon-dwp_failed_applications {
  min-height: 37px;
  padding-left: 45px;
  padding-top: 6px;
  background-image: url('icon-sml-appeals.png');
  background-size: 37px 37px;
  background-repeat: no-repeat;
}


.guide-headline {

  background-repeat: no-repeat;
  background-size: 55px;
  background-position-y: 40px;
  padding-top: 40px;

  &.guide-headline-appeals {
    background-image: url('icon-sml-appeals.png');
  }
  &.guide-headline-evidence {
    background-image: url('icon-sml-evidence.png');
  }
  &.guide-headline-fraud {
    background-image: url('icon-sml-fraud.png');
  }
  &.guide-headline-part-fee {
    background-image: url('icon-sml-part-fee.png');
  }
  &.guide-headline-process {
    background-image: url('icon-sml-process.png');
  }

  h1 {
    padding-top: 0px !important;
    padding-left: 80px;
    background-repeat: no-repeat;
    background-size: 55px;
  }

  span.guideline-hint {
    font-weight: normal;
    color: #6f777b;
    margin-left: 82px;
    margin-bottom: 0;
  }
}

h4.guide-subheadline {
  font-weight: normal;
}

.govuk-footer h5 {
  margin: 0;
}

h1.error-pages {
  margin-top: 30px;
}

.filter legend.govuk-fieldset__legend--s {
  font-weight: normal;
}