input[type=text]{
  &:disabled{
    background-color: $grey-3;
  }
}

input.decoy {
  // used to prevent browser autofill
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
  max-width: 92%;
}

.govuk-input-smaller {
  width: 100%;

  @media (min-width: 641px) {
    width: 25%;
  }
}

.error .govuk-input {
  border: 1px solid $grey-2;
}

.error > .govuk-input {
  border: 4px solid #b10e1e;
}

.form-checkbox {
  display: table;

  input, span {
    display: table-cell;
  }
}

select {
  font-size: 19px;
  border: 1px solid $grey-2;
  padding: 4px;
  display: block;
}



.field-wrapper {
  border: 1px solid $grey-2;
  width: auto;
  display: inline-block;


  .prefix {
    padding: 0.7em;
    background-color: $grey-3;
    float: left;
  }

  input {
    @include core-19;
    line-height: 25px;
    border: none;
    width: auto;
    background-color: $white;
    float: left;
    padding: 5px 4px 3px 9px;
  }
  #online_search_reference {
    width: 80% !important;
  }
}

.new_completed_search {
  position: relative;

  input[type="text"] {
    width: 372px;
    max-width: 80% !important;
    height: 40px;
  }

  .govuk-button {
    margin-left: 11px;
  }
  .search-button:hover {
    background-color: #00692f;
  }
  .search-button:active {
    bottom: -1px;
    height: 38px;
    box-shadow: 0 0;
  }

  .field_with_errors {
    display: inline;
  }

  .govuk-label h2 {
    font-weight: bold;
  }
}

.processed_search {
  position: relative;

  input[type="text"] {
    width: 250px;
    max-width: 92% !important;
    height: 40px;
  }

  .submit-button {
    position: absolute;
    width: 140px;
    height: 40px;
    margin-left: 10px;
  }
}