input[type=text]{
  &:disabled{
    background-color: $grey-3;
  }
}

input.decoy {
  // used to prevent browser autofill
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
  max-width: 92%;
}

.form-control-smaller {
  width: 100%;

  @media (min-width: 641px) {
    width: 25%;
  }
}

.error .form-control {
  border: 1px solid $grey-2;
}

.error > .form-control {
  border: 4px solid #b10e1e;
}

.form-checkbox {
  display: table;

  input, span {
    display: table-cell;
  }
}

select {
  font-size: 19px;
  border: 1px solid $grey-2;
  padding: 4px;
  display: block;
}



.field-wrapper {
  border: 1px solid $grey-2;
  width: auto;

  display: inline-block;


  .prefix {
    padding: 5px 10px;
    background-color: $grey-3;
    float: left;
  }

  input {
    @include core-19;
    line-height: 25px;
    border: none;
    width: auto;
    background-color: $white;
    float: left;
    padding: 5px 4px 3px 9px;
  }
}

.new_completed_search {
  position: relative;

  input[type="text"] {
    width: 372px;
    max-width: 80% !important;
    height: 40px;
  }

  .button {
    position: absolute;
    margin-left: 5px;
    border: 0;
    height: 38px;
  }

  .submit-button {
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    margin-left: 0;
    border: 1px solid $grey-1;
    overflow: hidden;
    text-indent: -999em;
    background: $grey-1 asset_url('icon_search-local.png') 50% 50% no-repeat;
  }

  .field_with_errors {
    display: inline;
  }

  .form-label h2 {
    font-weight: bold;
  }
}

.processed_search {
  position: relative;

  input[type="text"] {
    width: 250px;
    max-width: 92% !important;
    height: 40px;
  }

  .submit-button {
    position: absolute;
    width: 140px;
    height: 40px;
    margin-left: 10px;
  }
}