label.error {
  border: none;
  padding-left: 0;
}

label {
  .hint {
    display: block;
  }
}

.prefix {
  padding-right: 10px;
}

.block-label:last-child {
  margin-bottom: 10px;
}

label h2 {
  margin: 0;
  font-size: 19px;
}