.govuk-main-wrapper {
  padding-top: 0px !important;
}

section#content.cf>h1, .govuk-grid-column-two-thirds>h1 {
  padding-top: 40px;
}

div.govuk-footer__navigation {
  div.govuk-footer__section:first-child {
    -webkit-box-flex: 1 !important;
    -webkit-flex-grow: 1 !important;
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important; // Support: Flexbox
            flex-grow: 1; // Support: Flexbox
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1; // Support: Flexbox
  }
}
.govuk-grid-column-full.table_data {
  overflow: auto;
}

#reason-input.panel-indent.accuracy-incorrect-reasons {
  margin-top: 10px;
}
.accuracy-incorrect-reasons fieldset {
  margin-bottom: 15px;
}
div.govuk-panel--confirmation  {
  margin-top: 40px;
  background-color: govuk-colour("green");
}

#notification .default-list.dwp-restored {
  word-break: break-word;
  -ms-word-wrap:break-word;
}
