.next-steps {
  padding-top: 0.75em;

  li {
    margin-bottom: 1.5em;

    .inset {
      display: table;
      background-color: $grey-4;
      border: 1px solid $grey-2;
      padding: 1em;
      margin-top: 0.75em;
      font-size: 1.5em;
      font-weight: bold;
    }
  }
}

.list-pad {
  li {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.inline-list {
  li {
    display: inline-block;
    @include core-16;
    margin-right: 5px;
  }
}

.pagination {
  li:nth-child(n+3) {
    &::before {
      content: '|';
      margin-right: 5px;
    }
  }
}

.sort {
  float: right;
  li:nth-child(n+3) {
    &::before {
      content: '|';
      margin-right: 5px;
    }
  }
}

.default-list {
  ul, ol {
    display: block;
    margin: 1em 0 1em 0;
    padding-left: 40px;
  }

  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
}
