@mixin pseuds($dir) {
  content: '';
  display: inline-block;
  width: 30px;
  height: 40px;
  background-image: asset_url('chevrons.png');
  background-position: unquote($dir) center;
  background-repeat: no-repeat;
  background-size: 100px 40px;
  position: relative;
  top: 13px;

  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    background-image: asset_url('chevrons-2x.png');
  }
}

.pagination {
  @include core-19;
  text-align: center;

  div {
    display: table-cell;
    width: 20%;
  }

  p.govuk-body {
    margin-bottom: 0px;
  }

  .paginate {
    a {
      display: inline-block;
      line-height: 40px;
      text-decoration: none;
    }
  }

  .paginate.last_page, .paginate.first_page {
    display: table-cell;
    width: 10%;
  }
  .previous {
    a {
      &::before {
        @include pseuds('left');
      }
    }
  }
  .next {
    text-align: right;

    a {
      &::after {
        @include pseuds('right');
      }
    }
  }
  a {
    text-decoration: none;
    margin-left: 6px;
    margin-right: 6px;
  }
  span.next_page {
    display: none;
  }
  a.next_page {
    text-decoration: none;
    margin-left: 6px;

    &::after {
      @include pseuds('right');
    }
  }
  span.previous_page {
    display: none;
  }
  a.previous_page {
    text-decoration: none;
    margin-right: 6px;

    &::before {
      @include pseuds('left');
    }
  }
  em.current {
    font-style: normal;
    font-weight: bold;
    margin-left: 6px;
    margin-right: 6px;
  }

  .pages {
    text-align: center;
  }

  b { font-weight: bold }
}

table.search-results div.pagination {
  margin-top: 0px !important;
}

.pagination-info {
  float: right;
  margin-top: 23px;
  @include core-19;
  clear: both;

  b { font-weight: bold }
}

ul.pagination {
  padding-left: 0;
}

