.panel {
  border: solid 1px govuk-colour("grey-3");
  margin-bottom: 1.25em;
  padding: 1.25em;
  background: govuk-colour("grey-4");

  li, p, label {
    font-size: 16px;
  }

  &.flexi {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .panel-inner {
      flex-grow: 1;

      > label,
      > .field_with_errors > label {
        margin-top: 0;
      }
    }
  }
}

#process-application .flexi, #process-online-application .flexi {
  height: 187px;
  .govuk-button {
    margin-bottom: 0;
  }
}

.panel-indent {
  clear: both;
  border-left: 4px solid #bfc1c3;
  padding: 10px 0 10px 15px;
  margin: 30px 15px 45px 0;

  ul {
    margin-bottom: 0;
  }

  .panel-indent {
    margin-bottom: 0;
    margin-top: 10px;
  }

  .options + .start-hidden > &,
  fieldset + .start-hidden > & {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .govuk-form-group:last-child {
    margin-bottom: 10px;
  }
}

.guidance {
  border-top: 5px solid govuk-colour("blue");
  padding-top: govuk-spacing(5);
  margin-top: 30px;
}

.callout {
  padding: 30px 15px;
  margin-bottom: 2em;
  color: #ffffff;
  background-color: govuk-colour("orange");

  &.blue {
    background-color: govuk-colour("blue");
    color: govuk-colour("white");
  }

  h3 {
    color: $govuk-text-colour;
    margin: 0;
    text-align: left;
  }

  &.not-received, &.no, &.callout-none, &.callout-error, &.callout-return {
    background-color: $govuk-error-colour;
  }
  &.received, &.yes, &.callout-full, &.callout-granted, &.callout-paid {
    background-color: govuk-colour("turquoise");
  }
  &.callout-part, &.callout-evidence-check {
    background: govuk-colour("orange");
  }
  &.evidence-check-reference {
    background-color: govuk-colour("grey-1");
    text-align: center;
    padding: 30px;
    .check {
      display: inline-block;
      padding-right: 15px;
    }
    .reference-number {
      display: block;
    }
  }
  p {
    margin: 0;
  }
}

.govuk-grid-row.staff-panels {
  margin-top: 30px;
}

.dwp-down {
  background-color: #fef6ea;
  border: 1px solid #f3a536;
  margin-bottom: 0;
  padding: 10px 20px;

  * {
    font-size: 14px;
  }

  ul, p {
    margin-bottom: 0;
  }

  & + .panel {
    border-top: none;
  }
}
