.phase-banner {
  @include phase-banner($state: alpha);
  max-width: 960px;
  margin: 0 15px;

  @media (min-width: 640px) {
    margin: 0 30px;
  }

  @media (min-width: 1020px) {
    margin: 0 auto;
  }
}
