dl.govuk-summary-list {
  margin-bottom: 30px;
  padding-bottom: .5em;

  .summary-result {
    font-weight: bold;
    &.full, &.passed {
      color: $green;
    }
    &.part {
      color: $orange;
    }
    &.none, &.failed {
      color: $error-colour;
    }
  }

  .govuk-grid-row {
    padding-bottom: 10px;
  }

  .header-row {
    padding-bottom: 0;
  }
}
