table .right {
  text-align: right;
}

tr.align-bottom,
.align-bottom tr {
  th, td {
    vertical-align: bottom;
  }
}

tr.align-top,
.align-top tr {
  th, td {
    vertical-align: top;
  }
}

td.no-wrap {
  white-space: nowrap;
}

table.tight {
  th, td {
    padding-right: 10px;
  }
}

table.income {
  tbody {
    th {
      font-weight: normal;
    }
    td {
      white-space: nowrap;
    }
  }

  tfoot {
    th, td {
      @include core-24;
      font-weight: bold;
      white-space: nowrap;
    }
  }
}

.guide-table {
  tr {
    vertical-align: top;
  }
  th {
    p {
      font-weight: bold;
    }
  }
}
