// utility classes used as overrides, therefore valid use of !important
// https://css-tricks.com/when-using-important-is-the-right-choice/

// margin utilities
.util_margin-0 {
  margin: 0 !important;
}
.util_mb-0 {
  margin-bottom: 0 !important;
}
.util_mb-tiny {
  margin-bottom: 8px !important;
}
.util_mb-small {
  margin-bottom: 15px !important;
}
.util_mb-medium {
  margin-bottom: 30px !important;
}
.util_mb-large {
  margin-bottom: 45px !important;
}
.util_mt-0 {
  margin-top: 0 !important;
}
.util_mt-tiny {
  margin-top: 8px !important;
}
.util_mt-small {
  margin-top: 15px !important;
}
.util_mt-medium {
  margin-top: 30px !important;
}
.util_mt-large {
  margin-top: 45px !important;
}



// case utilities
.transform-upper {
  text-transform: uppercase !important;
}



// text alignment utilities
.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.right {
  float: right !important;
}



// js utilities - no !important here, as they may be overridden by state changes
.js-only {
  display: none;

  .js-enabled & {
    display: block
  }
}

.start-hidden {
  display: none;
}
