=render('shared/processed_and_deleted/show', state: :deleted)

- content_for(:javascripts)
  javascript:
    $(document).ready(function () {
      moj.Modules.GtmTrackTimestamps.deletedApplication();
    });
