.evidence-confirmation-letter
  =t('letters.part-payment.part_payment_incorrect_html',
      reference: @application_view.reference,
      full_name: @applicant.full_name,
      user_name: current_user.name)
