.evidence-confirmation-letter
  =t('new_letters.part-payment.part_payment_incorrect_html',
      reference: @application_view.reference,
      full_name: @applicant.full_name,
      legal_rep: @representative.full_name,
      greeting: greeting_condition2(@representative, @applicant),
      user_name: current_user.name)
