=build_section_with_defaults 'Personal details', @applicant

=build_section_with_defaults 'Application details', @details
=build_section 'Benefits', @application_view, ['benefits']
=build_section 'Income', @application_view, ['number_of_children', 'total_monthly_income', 'income_kind_applicant', 'income_kind_partner', 'income_period']
