= render("shared/application_summary", show_links: true)

= form_for @application, url: application_summary_path(@application), method: :post do |f|
  = f.submit 'Complete processing', class: 'govuk-button govuk-!-margin-top-1'
