.evidence-confirmation-letter
  =t('letters.evidence.evidence_incorrect_html',
     reference: confirmation.application.reference,
     full_name: confirmation.application.applicant.full_name,
     user_name: current_user.name)
