
-if hide_fee_status?
  =build_section_with_defaults 'Personal details', @applicant
-else
   =build_section_with_defaults 'Date received and fee status', @fee_status
   =build_section_with_defaults 'Personal details', @applicant

=build_section_with_defaults 'Application details', @details
=build_section 'Benefits', @application_view, ['benefits']
=build_section 'Income', @application_view, ['number_of_children', 'total_monthly_income', 'income_kind_applicant', 'income_kind_partner', 'income_period']

-if show_ucd_changes?(@application_view.calculation_scheme_value)
  =build_section_with_defaults 'Declaration and statement of truth', @declaration
  - if @representative.display_section?
    =build_section_with_defaults 'Representative details', @representative


=build_section 'Result', @application_view, result_section_list

=render(partial: 'shared/remission_type', locals: { source: @application_view })

=render(partial: 'shared/processed_summary', locals: { source: @processing_details })


- content_for(:javascripts)
  javascript:
    $(document).ready(function () {
      moj.Modules.GtmTrackTimestamps.evidence();
    });
