h2 Check details

=build_section 'Evidence', @evidence_view, %w[correct reason income]
=build_section 'Personal details', @overview, %w[full_name date_of_birth ni_number status]
=build_section 'Application details', @overview, %w[fee jurisdiction date_received form_name]
=build_section 'Result', @result, %w[savings income]

=render(partial: 'shared/remission_type', locals: { source: @result })

= link_to 'Complete processing', evidence_confirmation_path(@evidence), class: 'button success'
