h2 Check details

- change_evidence_link = [ 'Change application evidence', evidence_accuracy_path(@evidence) ]
=build_section 'Evidence', @evidence_view, %w[correct reason income], *change_evidence_link
=build_section 'Personal details', @overview, %w[full_name date_of_birth ni_number status]
=build_section 'Application details', @overview, %w[fee jurisdiction date_received form_name]
=build_section 'Result', @result, %w[savings income]

=render(partial: 'shared/remission_type', locals: { source: @result })

= link_to 'Next', evidence_confirmation_path(@evidence), class: 'button success'
