h2 Income check

#r2_calculator
  .row
    .small-12.medium-3.large-3.columns
      label for='fee' Fee
      .row.collapse.prefix-radius
        .small-2.medium-2.large-3.columns
          span.prefix
            label.inline for='fee' £
        .small-10.medium-10.large-9.columns style="padding:0px;"
          input data-check='fee' id="fee" name="fee" type="number"
        small.error data-check-error='fee' Please enter a fee value
  .row
    .small-12.medium-3.large-3.columns
      .row
        .small-12.columns
          label for='couple-no'
            input id='couple-no' name="couple" type="radio" value='false'
            |  Single
          label for='couple-yes'
            input data-check='couple' id='couple-yes' name="couple" type="radio" value='true'
            |  Part of a couple
      small.error data-check-error='couple' Please select a marital status

  .row
    .small-12.medium-6.large-5.columns
      label for='children' Number of children
      .row
        .columns.small-3
          input data-check='children' id='children' type="number" min=0
      small.error data-check-error='children' Please select a number of children

  .row
    .small-12.medium-3.large-3.columns
      label for='income' Total monthly income
      .row.collapse.prefix-radius
        .small-2.medium-2.large-3.columns
          span.prefix
            label.inline for='income' £
        .small-10.medium-10.large-9.columns
          input data-check='income' name="income" id="income" type="number"
        small.error data-check-error='income' Please enter an income

.row
  .small-12.medium-8.large-5.columns
    a.button.small.no_selection#check_btn Check
.row
  .small-12.medium-7.large-7.columns
    .panel.callout
      p
        |Amount remitted:
        span#fee-remit
      p
        |Amount to pay:
        span#fee-payable
      span#json-result
.row
  .small-12.medium-8.large-5.columns
    a.button.small.success.no_selection#clear_btn Perform new check

javascript:
  var $min_val = 1085;
  var $pp_child = 245;
  var $couple_supp = 160;

  $(document).ready(function () {
    $('dl.sub-nav dd#income-calc').addClass('active');
    setupPage();
    $('#check_btn').on('click', function () {
      if (checkValidation()) {
        calculate();
      }
    });
    $('#clear_btn').on('click', function () {
      setupPage();
    });
  });

  function calculate() {
    var $children_val = $('#children').val() * $pp_child;
    var $add_single_supp = $("input:radio[name=couple]").val() == 'false' ? 0 : $couple_supp;
    var $check_val = $('#income').val() - ($min_val + $children_val + $add_single_supp);
    var $curr_fee = parseFloat($('#fee').val());

    var $max_to_pay = Math.min(Math.max(Math.floor($check_val / 10) * 10 * 0.5, 0), $curr_fee);
    var $remittance = Math.max($curr_fee - $max_to_pay, 0);

    if ($check_val > 4000) {
      $('#fee-payable').text(formatCurrency($curr_fee));
      $('#fee-remit').text('£0');
    } else {
      $('#fee-payable').text(formatCurrency($max_to_pay));
      $('#fee-remit').text(formatCurrency($remittance));
    }
    sendToDatabase($remittance, $max_to_pay);
    $('.panel.callout').show();
    $('#check_btn').hide();
    $('#clear_btn').show();
    $('#r2_calculator :input').attr('disabled', true);
  }

  function formatCurrency(val) {
    return '£' + val.toFixed(2);
  }

  function sendToDatabase(remit, pay) {
    $.ajax({
      method: "POST",
      url: "#{Rails.application.routes.url_helpers.calculator_record_search_path}",
      data: {
        r2_calculator: {
          fee: $('#fee').val(),
          married: $("input:radio[name=couple]").val() == 'true',
          children: $('#children').val(),
          income: $('#income').val(),
          remittance: remit,
          to_pay: pay
        }
      },
      success: function (data) {
        $('#json-result').text('Check ' + data.id + ' saved');
        return false;
      },
      error: function (data) {
        $('#json-result').text('Save failed with ' + data.errors.count + ' errors');
        alert("error");
      }
    });
  }

  function checkValidation() {
    $("input[data-check]").each(function () {
      test = $(this);
      error = $('small.error[data-check-error=' + test.data('check') + ']');
      if ((test.val().length == 0) || (test.is(":radio") && $('input[name=' + test.attr('name') + ']:checked').val() == undefined)) {
        error.removeClass('hide');
      } else {
        error.addClass('hide');
      }
    });
    return ($('small.error:visible').length == 0)
  }

  function setupPage() {
    $('.panel.callout').hide();
    $('#r2_calculator :input').attr('disabled', false);
    $('#check_btn').show();
    $('#clear_btn').hide();
    $('#fee').val('');
    $('#children').val('0');
    $('#income').val('');
    $('#couple-yes').prop('checked', false);
    $('#couple-no').prop('checked', false);
    $('.error').addClass('hide');
  }
