- content_for :page_title
  = t('footer.support_links.accessibility.title')
  = ' - '

h1.govuk-heading-xl =t('footer.support_links.accessibility.heading')

p This accessibility statement applies to the Help with Fees staff service.
p This website is run by Her Majesty's Courts and Tribunals Service (HMCTS). We want as many people as possible to be able to use this online form. For example, that means you should be able to:
ul
  li change colours, contrast levels and fonts
  li zoom in up to 300% without the text spilling off the screen
  li navigate the form using just a keyboard
  li listen to the form using a screen reader
p Please note that the accessibility tests conducted to date only cover VoiceOver compatibility.
p We’ve also made the text as simple as possible to understand.
p #{link_to 'AbilityNet', "https://mcmw.abilitynet.org.uk/"} has advice on making your device easier to use if you have a disability.

h3.govuk-heading-m.util_mt-medium id="how-accessible" How accessible this website is

p We are in the process of arranging a full Web Content Accessibility Guidelines (WCAG) version 2.1 audit for this online service.
p We will update this statement once we’ve received the WCAG 2.1 audit report. In the meantime, we have done some basic tests and addressed the issues that were identified.
p We used components in the GOV.UK Design System wherever possible. The #{link_to 'Design System accessibility guide', 'https://design-system.service.gov.uk/accessibility/'} explains the current state of accessibility for these components.
p Components listed on the #{link_to 'Design System accessibility guide', 'https://design-system.service.gov.uk/accessibility/'} are fully compliant with the WCAG 2.1 AA standard.
p Components that are not part of the GOV.UK Design System include:
ul
  li Pagination (provides staff with the ability to move between pages of Help with Fees applications)
  li Admin graphs (graphs that are displayed on various pages throughout the staff service when the user is signed in as an admin)

h3.govuk-heading-m.util_mt-medium id="feedback-contact-info" Feedback and contact information

p If you have any feedback or specific usability requests please contact #{mail_to 'helpwithfees.support@digital.justice.gov.uk'}.
p If you send us an email, we will consider your request and get back to you within 10 days.

h3.govuk-heading-m.util_mt-medium id="reporting-accessibility-problems" Reporting accessibility problems

p We’re always looking to improve the accessibility of this online service. If you find any problems that aren’t listed on this page or think we’re not meeting the requirements of the accessibility requirements, email #{mail_to 'helpwithfees.support@digital.justice.gov.uk'} giving details of the issue and any assistive technology you are using.

h3.govuk-heading-m.util_mt-medium id="enforcement-procedure" Enforcement procedure

p The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, #{link_to 'contact the Equality Advisory and Support Service (EASS)', 'https://www.equalityadvisoryservice.com/'}.

h2.govuk-heading-l.util_mt-medium id="technical-information" Technical information about this website’s accessibility

p HMCTS is committed to making its online forms and services accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.

h3.govuk-heading-m.util_mt-medium id="compliance-status" Compliance status

p This website is partially compliant with the #{link_to 'Web Content Accessibility Guidelines version 2.1', 'https://www.w3.org/TR/WCAG21/'} AA standard, due to the exemptions listed below.

h2.govuk-heading-l.util_mt-medium id="non-accessible-content" Non-accessible content

p The content listed below is non-accessible for the following reasons.

h3.govuk-heading-l.util_mt-medium id="non-compliance-content" Non-compliance with the accessibility regulations

h3.govuk-heading-m.util_mt-medium id="manual-testing" Lack of manual accessibility testing

p Some basic testing has been conducted on the Help with Fees service. Specifically, the service was made to pass WCAG 2.1 AA standard tests outputted by HTML web accessibility testing tools, Pa11y and WAVE. The form was also tested from start to finish with keyboard testing, zooming in to 300% and VoiceOver.

p However, the lack of manual accessibility testing means that it is not possible to declare the service fully compliant. The full WCAG 2.1 audit to be carried out will clarify the overall accessibility of the service. This will allow us to make the service fully compliant.

h2.govuk-heading-l.util_mt-medium id="improving-accessibility" What we’re doing to improve accessibility

p We are in the process of arranging a full WCAG 2.1 audit of this online service. We will then update this statement.

h2.govuk-heading-l.util_mt-medium id="statement-preparation" Preparation of this accessibility statement

p This statement was prepared on 2 October 2020. It was last updated on 11 December 2020.
p This website was last tested on 11 December 2020. The tests were carried out by Her Majesty’s Courts and Tribunals Service (HMCTS).

