$screen: "only screen";
$tiny-range: (0em, 25em);
$small-range: (25.063em, 40em);
$medium-range: (40.063em, 64em);

$topbar-breakpoint: #{upper-bound($small-range)};
$topbar-media-query: "#{$screen} and (min-width:#{lower-bound($topbar-breakpoint)})";
