@import 'colours';

@font-face {
  font-family: 'nta';
  src: asset_url('fonts/NTA-Light-20130221.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nta';
  src: asset_url('fonts/NTA-Bold-20130221.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'ntatabularnumbers';
  src: asset_url('fonts/NTATabularNumbers-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ntatabularnumbers';
  src: asset_url('fonts/NTATabularNumbers-Bold.woff') format('woff');
  font-weight: bold;
}

a {
  color: #005ea5;
  text-decoration: underline;
}

h2 {
  font-weight: bold;
}

.btn {
  background-color: $button-colour;
  box-shadow: 0 2px 0 #003518;
}
.btn:hover {
  background-color: $green;
}

span.hint.block {
  display: block;
  color: $secondary-text-colour;
}
