@font-face {
  font-family: 'nta';
  src: asset_url('fonts/NTA-Light-20130221.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nta';
  src: asset_url('fonts/NTA-Bold-20130221.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'ntatabularnumbers';
  src: asset_url('fonts/NTATabularNumbers-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ntatabularnumbers';
  src: asset_url('fonts/NTATabularNumbers-Bold.woff') format('woff');
  font-weight: bold;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  font-family: 'nta', Arial, sans-serif;
}

a {
  color: #005ea5;
  text-decoration: underline;
}
