@font-face {
  font-family: 'nta';
  src: asset_url('fonts/NTA-Light-20130221.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nta';
  src: asset_url('fonts/NTA-Bold-20130221.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'ntatabularnumbers';
  src: asset_url('fonts/NTATabularNumbers-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ntatabularnumbers';
  src: asset_url('fonts/NTATabularNumbers-Bold.woff') format('woff');
  font-weight: bold;
}

body {
  color: $text-colour;
}

a, details > span.summary {
  color: #005ea5;
  text-decoration: underline;
  cursor: pointer;
}

.alert-box > a.close {
  text-decoration: none;
  margin-top: -0.4875rem;
}

@for $i from 1 through 6 {
  h#{$i},
	.h#{$i}{
		font-weight: 700;
    font-style: normal;
	}
}

.bold {
  font-weight: 700;
}
.btn {
  background-color: $button-colour;
  box-shadow: 0 2px 0 #003518;
  &:hover {
    background-color: $green;
  }
}

img {
  width:400px;
  padding:20px;
  border: none;
}
span.hint {
  color: $secondary-text-colour;
  &.block {
    display: block;
  }
}

.pad-top-thirty-px {
  padding-top: $gutter;
}
.pad-top-fifteen-px {
  padding-top: $gutter-half;
}
.pad-bottom-thirty-px {
  padding-bottom: $gutter;
}
.pad-left-fifteen-px {
  padding-left: $gutter-half;
}

.panel-indent {
  clear: both;
  border-left: 4px solid #bfc1c3;
  padding: 10px 0 10px 15px;
  margin: 30px 15px 45px 0;
  ul {
    margin-bottom: 0rem;
  }
  .panel-indent {
    margin-bottom: 0rem;
  }
}
.actions {
  margin-top: 32px;
  input[type="submit"] {
    font-size: 1.3rem;
    margin: 0;
  }
}

label,
button,
input[type="button"],
input[type="submit"] {
  font-size: 1rem;
  margin-top: 1.5rem;
}

label.inline {
  font-size: 0.875rem;
}

td.center {
  text-align: center;
}

.start-hidden {
  display:none;
}

.info-box {
  border-top: 10px solid $govuk-blue;
  margin: 2.5em 0 0 0;
  h3 {
    font-size: 1.5em;
    margin: 0.5em 0 0 0;

  }
}

#welcome_banner {
  background: #1EA297;
  padding: 1em 0 0 2em;
  margin-bottom: 30px;
  h1, p, strong {
    color: #fff;
    }
  p {
  font-size: 1.1em;

  }

}

i.arrow.arrow-closed, i.arrow.arrow-open {
  color:#005ea5
}

header {
  padding: 30px 0;
}
.page-footer {
  background-color: #dee0e2;
  border-top: 10px solid #005ea5;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top:30px;
  img {
    width: auto;
    padding: 0;
  }

  hr {
    border-color: #bfc1c3;
  }
}

.guide-cols {
  width: 18%;
  display: inline-block;
  float: left;
  margin:0 15px 0 0;
  min-height:240px;
  position: relative;
  a {
    text-decoration: none;
    display: block;
  }
  img {
    padding:0;
    display: block;
    padding:20px;
    position: absolute;
    top:20%;
    left:0;
  }
}
.icon-column img{
  padding:0;
}
.panel.callout.blue{
  background-color: $govuk-blue;
}
a.button.alternative{
  background-color: $light-blue;
}

.guidance{
  border-top: 5px solid $govuk-blue;
  padding:$gutter-half $gutter-half/2 0;
}
input.small-field{
    width:50%;
    @media screen and (max-width: upper-bound($small-range)) {
      width:100%;
      border:10px solid red;
    }
}
input.medium-field{
    width:70%;
}

