// Place all the styles related to the DwpChecker controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'colours';
@import 'sizes';

.transform-upper {
  text-transform: uppercase;
}

#result.callout {
  padding:30px 15px;
  margin-bottom: 2em;
  color:#ffffff;
  h3 {
    color: $page-colour;
    margin: 0;
  }
  &.not-received {
    background-color: $error-colour;
  }
  &.received{
    background-color: $turquoise;
  }
  p
  {
    margin:0;
  }
}

#dwp_data {
  .row:last-child { border-bottom: 1px solid #bfc1c3; }
  .row {
    border-top: 1px solid #bfc1c3;
    line-height: 1em;
    padding: 1.5em 0em;
    .table-label {
      color:#666666;
      padding-bottom: .5em;
    }
  }
  .highlight {
    font-weight:bold;
  }
}
@media only screen and (min-width: upper-bound($medium-range)) {
  #dwp_data {
    .row {
      line-height: 3em;
      .table-label {
        color: #666666;
      }
    }
  }
}