@import 'colours';

.field_with_errors input {
  border-color: $error-colour;
}

.form-group .field_with_errors {
  border-left: 2px solid $error-colour;
  padding-left: 10px;
}

.field_with_errors label.error {
  color: $error-colour;
}
.ie-warning{
  color:$error-colour;
  background: $error-background;
}
