@import "colours";
@import "measurements";

.evidence-check .row {
  margin-bottom: $gutter;
}

.evidence-check-reference {
  color: $white;
  background-color: $grey-1;
  border: 1px solid $grey-3;
  display: inline-block;
  padding: $gutter-half $gutter;
  font-size: 2em;
}

.evidence-check-letter {
  border: 1px solid $grey-3;
  background-color: $grey-4;
  padding: $gutter-half;
}

.waiting-for-evidence, .waiting-for-payment, table.processed-applications {
  width: 100%;
}
