@import 'colours';

input[type=text]{
  &:disabled{
    background-color: $grey-3;
  }
}

input.decoy {
  // used to prevent browser autofill
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
