p + h3,
ul + h3,
table + h3,
.panel + h3 {
  margin-top: 2rem;
}

h3 + h5,
ul + h5,
p + h5 {
  margin-top: 1rem;
}

.icon {
  min-height: 37px;
  padding-left: 45px;
  padding-top: 3px;
  background-image: asset_url('icons-header-sprite.png');
  background-repeat: no-repeat;
}

.icon-evidence {
  background-position: 0 0;
}
.icon-part_payment {
  background-position: 0 -200px;
}
.icon-completed {
  background-position: 0 -400px;
}
