@import 'colours';
@import 'sizes';


dl.sub-nav {
  background-color: #dee0e2;
  padding: 14px 10px 10px 0;
  display: block;
  width: 100%;
  overflow: hidden;
  a {
    color: $link-colour;
    text-decoration:underline;
  }
  a:hover {
    color: $link-hover-colour;
  }
  dd {
    font-size: 1rem;
    .active a {
      color: $white;
      background: $link-hover-colour;
      text-decoration: none;
      :hover {
        background: $link-colour;
      }
    }
  }
}

.top-bar {
  background: #000000;

  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }

  @media #{$medium-up} {
    height: auto;
  }

  .top-bar-section {
    li {
      @media screen and (max-width: upper-bound($small-range)) {
        padding-left: 15px;
      }
      background-color: transparent;

      span {
        padding: 0 $topbar-link-padding;
        background-color: $topbar-bg-color;
        color: $topbar-link-color;
        line-height: $topbar-height;
      }

      a {
        text-decoration: underline;
        transition: color 300ms ease-out 0s;
        @media screen and (max-width: upper-bound($small-range)) {
          padding-left:15px;
        }
      }


      &:last-child {
        a, span {
          padding-right: 0;

          @media screen and (max-width: upper-bound($medium-range)) {
            padding-right: 15px;
          }
        }
      }
    }
  }
  .title-area {
    h1 {
      white-space: nowrap;

      > a {
        display: inline-block;
        background: asset_url('crest.png') no-repeat 0% 40%;
        padding-left: 30px;
        vertical-align: middle;
        width: auto;

        @media screen and (max-width: upper-bound($medium-range)) {
          background: asset_url('crest.png') no-repeat 15px 40%;
          padding-left: 45px;
        }
      }

      > span {
        display: inline-block;
        float: none;
      }
    }
  }
}

.contain-to-grid {
  background: #000000;
}
