.panel {
  &.flexi {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .panel-inner {
      flex-grow: 1;

      > label,
      > .field_with_errors >label {
        margin-top: 0;
      }
    }
  }
}
