.phase-banner{
  padding:10px 0;
  p {
    margin:0;
  }
  strong.phase-tag{
    color:white;background-color:#f47738;padding:2px 5px;text-transform:uppercase;margin-right:8px;display:inline-block;
  }}
