@import 'colours';

#r2_calculator_income {
  .form-group {
    margin-bottom:1em;
  }
}

#calculator.callout {
  padding:30px 15px;
  margin-bottom: 2em;

  h3 {
    color: $page-colour;
    margin: 0;
  }
  &.callout-none {
    background-color: $error-colour;
  }
  &.callout-full {
    background: $turquoise;
  }
  &.callout-part {
    background: $orange;
  }
  p
  {
    margin:0;
  }
}

.calculator-data {
  .row.hide-top:first-child { border-top: none;}
  .row:last-child { border-bottom: 1px solid #bfc1c3; }
  .row {
    border-top: 1px solid #bfc1c3;
    padding: 25px 0;
    .table-label {
      color:#666666;
    }
    .highlight {
      font-weight:bold;
    }
  }
}
