// Place all the styles related to the DwpChecker controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'colours';
@import 'sizes';

.transform-upper {
  text-transform: uppercase;
}

#result.callout {
  padding:30px 15px;
  margin-bottom: 2em;
  color:#ffffff;
  background-color: $orange;
  h3 {
    color: $page-colour;
    margin: 0;
  }
  &.not-received, &.no, &.callout-none {
    background-color: $error-colour;
  }
  &.received, &.yes, &.callout-full {
    background-color: $turquoise;
  }
  &.callout-part {
    background: $orange;
  }
  &.evidence-check-reference {
    background-color: $grey-1;
  }
  p
  {
    margin:0;
  }
}
