// utility classes used as overrides, therefore valid use of !important
// https://css-tricks.com/when-using-important-is-the-right-choice/

// margin utility classes
.util_margin-0 {
  margin: 0 !important;
}
.util_mt-0 {
  margin-top: 0 !important;
}
.util_mb-0 {
  margin-bottom: 0 !important;
}
.util_mt-medium {
  margin-top: 2rem !important;
}
.util_mb-medium {
  margin-bottom: 2rem !important;
}
.util_mb-small {
  margin-bottom: 1rem !important;
}

// padding utility classes
.util_pt-medium {
  padding-top: 2rem !important;
}
.util_pt-0 {
  padding-top: 0 !important;
}
.util_pb-0 {
  padding-bottom: 0 !important;
}
.util_padding-0 {
  padding: 0 !important;
}

// js utilities
.js-hidden {
  display: block;

  .js & { // .js added by Modernizr
    display: none;
  }
}
