<p>Hello <%= @resource.name %></p>

<p>Please confirm your new Help with Fees email address by clicking on the link below:</p>

<p><%= link_to 'Confirm my account', user_confirmation_url(confirmation_token: @token) %></p>