=render('shared/report_dates',
  path: reports_finance_transactional_report_path,
  header: "Generate finance transactional report",
  form_name: 'forms_report_finance_transactional_report',
  filters: true,
  courts: false)
