- content_for :page_title
  = "Letters"

h1.govuk-heading-m.util_mt-medium Letters

h2.govuk-heading-m Processed application results in part payment
.confirmation-letter
  = t('letters.part-payment.send_part_payment_html',
      reference: '{AUTO: APPLICATION REFERENCE}',
      full_name: '{AUTO: APPLICANTS NAME}',
      user_name: '{AUTO: CURRENT USERS NAME}',
      part_payment_amount: '£{AUTO: AMOUNT TO PAY}',
      full_fee: '£{AUTO: FULL FEE}',
      total_income: '£{AUTO: APPLICANTS INCOME}',
      children: '{AUTO: APPLICANTS CHILDREN}',
      date_for_part_payment: '{AUTO: DATE FOR PAYMENT}')

h2.govuk-heading-m Evidence check - received, but not correct
.confirmation-letter
  = t('letters.evidence.evidence_incorrect_html',
      reference: '{AUTO: APPLICATION REFERENCE}',
      full_name: '{AUTO: APPLICANTS NAME}',
      user_name: '{AUTO: CURRENT USERS NAME}',
      expiry_date: '{AUTO: DATE EVIDENCE DUE}',
      amount_to_pay: '{AUTO: AMOUNT TO PAY}')

h2.govuk-heading-m Evidence check - requested, but not received
.confirmation-letter
  = t('letters.evidence.no_evidence_received_html',
      reference: '{AUTO: APPLICATION REFERENCE}',
      full_name: '{AUTO: APPLICANTS NAME}',
      user_name: '{AUTO: CURRENT USERS NAME}',
      expiry_date: '{AUTO: DATE EVIDENCE DUE}')

h2.govuk-heading-m Processed application results in evidence check
.confirmation-letter
  = t('letters.evidence.send_evidence_html',
      reference: '{AUTO: APPLICATION REFERENCE}',
      full_name: '{AUTO: APPLICANTS NAME}',
      user_name: '{AUTO: CURRENT USERS NAME}',
      expiry_date: '{AUTO: DATE EVIDENCE DUE}')

h2.govuk-heading-m Part payment - requested, but not received
.confirmation-letter
  = t('letters.part-payment.no_part_payment_received_html',
      reference: '{AUTO: APPLICATION REFERENCE}',
      full_name: '{AUTO: APPLICANTS NAME}',
      user_name: '{AUTO: CURRENT USERS NAME}',
      part_payment_amount: '£{AUTO: AMOUNT TO PAY}',
      date_for_part_payment: '{AUTO DATE FOR PAYMENT}')

h2.govuk-heading-m Part payment - received, but not correct
.confirmation-letter
  = t('letters.part-payment.part_payment_incorrect_html',
      reference: '{AUTO: APPLICATION REFERENCE}',
      full_name: '{AUTO: APPLICANTS NAME}',
      user_name: '{AUTO: CURRENT USERS NAME}')

h2.govuk-heading-m Application rejected because of DWP deceased response
.confirmation-letter
  = t('letters.reject.reject_dwp_deceased_html',
      full_name: '{AUTO: APPLICANTS NAME}',
      user_name: '{AUTO: CURRENT USERS NAME}')

h2.govuk-heading-m Application rejected because savings threshold exceeded
.confirmation-letter
  = t('letters.reject.reject_over_savings_html',
      reference: '{AUTO: APPLICATION REFERENCE}',
      fee_amount: '{AUTO: APPLICATION FEE}',
      savings_threshold: '{AUTO: SAVINGS THRESHOLD}',
      savings_total: '{AUTO: SAVINGS TOTAL}',
      full_name: '{AUTO: APPLICANTS NAME}',
      user_name: '{AUTO: CURRENT USERS NAME}')

h2.govuk-heading-m Application rejected because income threshold exceeded
.confirmation-letter
  = t('letters.reject.reject_over_income_html',
      reference: '{AUTO: APPLICATION REFERENCE}',
      fee_amount: '{AUTO: APPLICATION FEE}',
      income_total: '{AUTO: INCOME TOTAL}',
      expiry_date: '{AUTO: DATE FOR PAYMENT}',
      full_name: '{AUTO: APPLICANTS NAME}',
      user_name: '{AUTO: CURRENT USERS NAME}')

h2.govuk-heading-m Application rejected because benefits not received
.confirmation-letter
  = t('letters.reject.reject_no_benefits_html',
      reference: '{AUTO: APPLICATION REFERENCE}',
      full_name: '{AUTO: APPLICANTS NAME}',
      user_name: '{AUTO: CURRENT USERS NAME}')
