- content_for :page_title
  = "Letters"

h1.govuk-heading-m.util_mt-medium New scheme letters

h2.govuk-heading-m Processed application results in part payment
.confirmation-letter
  = t('new_letters.part-payment.send_part_payment_html',
          greeting: '{AUTO APPLICANTS NAME}',
          income_type: '{AUTO: Your total monthly income/Your average income for the last 3 months}',
          reference: '{AUTO: APPLICATION REFERENCE}',
          full_name: '{AUTO: APPLICANTS NAME}',
          user_name: '{AUTO: CURRENT USERS NAME}',
          part_payment_amount: '£{AUTO: AMOUNT TO PAY}',
          full_fee: '£{AUTO: FULL FEE}',
          total_income: '£{AUTO: APPLICANTS INCOME}',
          children_young: '{AUTO: APPLICANTS CHILDREN 0-13}',
          children_old: '{AUTO: APPLICANTS CHILDREN 14+}',
          date_for_part_payment: '{AUTO: DATE FOR PAYMENT}')

h2.govuk-heading-m Evidence check - received, but not correct
.confirmation-letter
  = t('new_letters.evidence.evidence_incorrect_html',
          greeting: '{AUTO: APPLICANTS NAME}',
          reference: '{AUTO: APPLICATION REFERENCE}',
          full_name: '{AUTO: APPLICANTS NAME}',
          user_name: '{AUTO: CURRENT USERS NAME}',
          expiry_date: '{AUTO: DATE EVIDENCE DUE}',
          amount_to_pay: '{AUTO: AMOUNT TO PAY}')

h2.govuk-heading-m Evidence check - requested, but not received
.confirmation-letter
  = t('letters.evidence.no_evidence_received_html',
          reference: '{AUTO: APPLICATION REFERENCE}',
          full_name: '{AUTO: APPLICANTS NAME}',
          user_name: '{AUTO: CURRENT USERS NAME}',
          expiry_date: '{AUTO: DATE EVIDENCE DUE}')

h2.govuk-heading-m Evidence check - requested, but not received, refund
.confirmation-letter
  = t('letters.evidence.no_evidence_received_refund_html',
          reference: '{AUTO: APPLICATION REFERENCE}',
          full_name: '{AUTO: APPLICANTS NAME}',
          user_name: '{AUTO: CURRENT USERS NAME}',
          expiry_date: '{AUTO: DATE EVIDENCE DUE}')

h2.govuk-heading-m Processed application results in evidence check
.confirmation-letter
  =t('new_letters.evidence.send_evidence.header_html', reference: '{AUTO: APPLICATION REFERENCE}', full_name: '{AUTO: APPLICANTS NAME}',
          user_name: '{AUTO: CURRENT USERS NAME}',
          expiry_date: '{AUTO: DATE EVIDENCE DUE}')
  =t('new_letters.evidence.send_evidence.wages_html', wage_period: '{AUTO: LAST CALENDAR MONTH} {AUTO: LAST THREE MONTHS}')
  =t('new_letters.evidence.send_evidence.bank_statements_html', wage_period: '{AUTO: LAST CALENDAR MONTH} {AUTO: LAST THREE MONTHS}')
  =t('new_letters.evidence.send_evidence.child_maintenance_html')
  =t('new_letters.evidence.send_evidence.benefits_and_credits_html')
  =t('new_letters.evidence.send_evidence.rental_html')
  =t('new_letters.evidence.send_evidence.goods_selling_html')
  =t('new_letters.evidence.send_evidence.other_monthly_income_html')
  =t('new_letters.evidence.send_evidence.prisoner_income_html', reference: '{AUTO: APPLICATION REFERENCE}')
  =t('new_letters.evidence.send_evidence.footer_html', user_name: '{AUTO: CURRENT USERS NAME}')


h2.govuk-heading-m Part payment - requested, but not received
.confirmation-letter
  = t('letters.part-payment.no_part_payment_received_html',
          reference: '{AUTO: APPLICATION REFERENCE}',
          full_name: '{AUTO: APPLICANTS NAME}',
          user_name: '{AUTO: CURRENT USERS NAME}',
          part_payment_amount: '£{AUTO: AMOUNT TO PAY}',
          date_for_part_payment: '{AUTO: DATE FOR PAYMENT}')

h2.govuk-heading-m Part payment - received, but not correct
.confirmation-letter
  = t('letters.part-payment.part_payment_incorrect_html',
          reference: '{AUTO: APPLICATION REFERENCE}',
          full_name: '{AUTO: APPLICANTS NAME}',
          user_name: '{AUTO: CURRENT USERS NAME}')

h2.govuk-heading-m Application rejected because savings threshold exceeded
.confirmation-letter
  = t('new_letters.reject.reject_over_savings_html',
          greeting: '{AUTO: APPLICANTS NAME}',
          reference: '{AUTO: APPLICATION REFERENCE}',
          fee_amount: '{AUTO: APPLICATION FEE}',
          savings_threshold: '{AUTO: SAVINGS THRESHOLD}',
          savings_total: '{AUTO: SAVINGS TOTAL}',
          full_name: '{AUTO: APPLICANTS NAME}',
          user_name: '{AUTO: CURRENT USERS NAME}')

h2.govuk-heading-m Application rejected because income threshold exceeded
.confirmation-letter
  = t('new_letters.reject.reject_over_income_html',
          greeting: '{AUTO: APPLICANTS NAME}',
          reference: '{AUTO: APPLICATION REFERENCE}',
          income_type: '{AUTO: Your total monthly income/Your average income for the last 3 months}',
          fee_amount: '{AUTO: APPLICATION FEE}',
          income_total: '{AUTO: INCOME TOTAL}',
          expiry_date: '{AUTO: DATE FOR PAYMENT}',
          full_name: '{AUTO: APPLICANTS NAME}',
          user_name: '{AUTO: CURRENT USERS NAME}')

h2.govuk-heading-m Application rejected because benefits not received-on issue
.confirmation-letter
  = t('new_letters.reject.reject_no_benefits_html',
          greeting: '{AUTO: APPLICANTS NAME}',
          reference: '{AUTO: APPLICATION REFERENCE}',
          full_name: '{AUTO: APPLICANTS NAME}',
          user_name: '{AUTO: CURRENT USERS NAME}',
          amount_to_pay: '{AUTO: AMOUNT TO PAY}',
          date_for_part_payment: '{AUTO: DATE FOR PAYMENT}')

h2.govuk-heading-m Application rejected because benefits not received-refunds
.confirmation-letter
  = t('new_letters.reject.reject_no_benefits_refund_html',
          greeting: '{AUTO: APPLICANTS NAME}',
          reference: '{AUTO: APPLICATION REFERENCE}',
          full_name: '{AUTO: APPLICANTS NAME}',
          user_name: '{AUTO: CURRENT USERS NAME}',
          amount_to_pay: '{AUTO: AMOUNT TO PAY}',
          date_for_part_payment: '{AUTO: DATE FOR PAYMENT}')

h2.govuk-heading-m Application is not eligible for refund
.confirmation-letter
  = t('new_letters.refund.not_eligible_html',
          greeting: '{AUTO: APPLICANTS NAME}',
          reference: '{AUTO: APPLICATION REFERENCE}',
          full_name: '{AUTO: APPLICANTS NAME}',
          user_name: '{AUTO: CURRENT USERS NAME}')

h2.govuk-heading-m Application is eligible for partial refund
.confirmation-letter
  = t('new_letters.refund.part_html',
          greeting: '{AUTO: APPLICANTS NAME}',
          reference: '{AUTO: APPLICATION REFERENCE}',
          full_name: '{AUTO: APPLICANTS NAME}',
          user_name: '{AUTO: CURRENT USERS NAME}',
          fee: '{AUTO: FEE AMOUNT}',
          amount_refunded: '{AUTO: PARTIAL REMISSION AMOUNT}',
          amount_to_pay: '{AUTO: REFUND AMOUNT}')

h2.govuk-heading-m Application is eligible for full refund
.confirmation-letter
  = t('letters.refund.full_html',
          reference: '{AUTO: APPLICATION REFERENCE}',
          full_name: '{AUTO: APPLICANTS NAME}',
          user_name: '{AUTO: CURRENT USERS NAME}')

h2.govuk-heading-m Processed application results in part payment-representation
.confirmation-letter
  = t('new_letters.part-payment.send_part_payment_html',
      reference: '{AUTO: APPLICATION REFERENCE}',
      full_name: '{AUTO: APPLICANTS NAME}',
      legal_rep: '{AUTO: THIRD PARTY NAME}',
      greeting: '{AUTO: THIRD PARTY NAME} regarding {AUTO: APPLICANTS NAME}',
      user_name: '{AUTO: CURRENT USERS NAME}',
      part_payment_amount: '£{AUTO: AMOUNT TO PAY}',
      full_fee: '£{AUTO: FULL FEE}',
      income_type: '{AUTO: Your total monthly income/Your average income for the last 3 months}',
      total_income: '£{AUTO: APPLICANTS INCOME}',
      children_young: '{AUTO: APPLICANTS CHILDREN 0-13}',
      children_old: '{AUTO: APPLICANTS CHILDREN 14+}',
      date_for_part_payment: '{AUTO: DATE FOR PAYMENT}')

h2.govuk-heading-m Evidence check - received, but not correct-representation
.confirmation-letter
  = t('new_letters.evidence.evidence_incorrect_html',
      reference: '{AUTO: APPLICATION REFERENCE}',
      full_name: '{AUTO: APPLICANTS NAME}',
      legal_rep: '{AUTO: THIRD PARTY NAME}',
      greeting: '{AUTO: THIRD PARTY NAME} regarding {AUTO: APPLICANTS NAME}',
      user_name: '{AUTO: CURRENT USERS NAME}',
      expiry_date: '{AUTO: DATE EVIDENCE DUE}',
      amount_to_pay: '{AUTO: AMOUNT TO PAY}')

h2.govuk-heading-m Part payment - requested, but not received-representation
.confirmation-letter
  = t('new_letters.part-payment.no_part_payment_received_html',
      reference: '{AUTO: APPLICATION REFERENCE}',
      full_name: '{AUTO: APPLICANTS NAME}',
      legal_rep: '{AUTO: THIRD PARTY NAME}',
      greeting: '{AUTO: THIRD PARTY NAME} regarding {AUTO: APPLICANTS NAME}',
      user_name: '{AUTO: CURRENT USERS NAME}',
      part_payment_amount: '£{AUTO: AMOUNT TO PAY}',
      date_for_part_payment: '{AUTO: DATE FOR PAYMENT}')

h2.govuk-heading-m Part payment - received, but not correct-representation
.confirmation-letter
  = t('new_letters.part-payment.part_payment_incorrect_html',
      reference: '{AUTO: APPLICATION REFERENCE}',
      full_name: '{AUTO: APPLICANTS NAME}',
      legal_rep: '{AUTO: THIRD PARTY NAME}',
      greeting: '{AUTO: THIRD PARTY NAME} regarding {AUTO: APPLICANTS NAME}',
      user_name: '{AUTO: CURRENT USERS NAME}')

h2.govuk-heading-m Application rejected because savings threshold exceeded-representation
.confirmation-letter
  = t('new_letters.reject.reject_over_savings_html',
      reference: '{AUTO: APPLICATION REFERENCE}',
      fee_amount: '{AUTO: APPLICATION FEE}',
      savings_threshold: '{AUTO: SAVINGS THRESHOLD}',
      savings_total: '{AUTO: SAVINGS TOTAL}',
      full_name: '{AUTO: APPLICANTS NAME}',
      legal_rep: '{AUTO: THIRD PARTY NAME}',
      greeting: '{AUTO: THIRD PARTY NAME} regarding {AUTO: APPLICANTS NAME}',
      user_name: '{AUTO: CURRENT USERS NAME}')

h2.govuk-heading-m Application rejected because income threshold exceeded-representation
.confirmation-letter
  = t('new_letters.reject.reject_over_income_html',
      reference: '{AUTO: APPLICATION REFERENCE}',
      fee_amount: '{AUTO: APPLICATION FEE}',
      income_type: '{AUTO: Your total monthly income/Your average income for the last 3 months}',
      income_total: '{AUTO: INCOME TOTAL}',
      expiry_date: '{AUTO: DATE FOR PAYMENT}',
      full_name: '{AUTO: APPLICANTS NAME}',
      legal_rep: '{AUTO: THIRD PARTY NAME}',
      greeting: '{AUTO: THIRD PARTY NAME} regarding {AUTO: APPLICANTS NAME}',
      user_name: '{AUTO: CURRENT USERS NAME}')

h2.govuk-heading-m Application rejected because benefits not received-on issue-representation
.confirmation-letter
  = t('new_letters.reject.reject_no_benefits_representation_html',
      reference: '{AUTO: APPLICATION REFERENCE}',
      full_name: '{AUTO: APPLICANTS NAME}',
      legal_rep: '{AUTO: THIRD PARTY NAME}',
      greeting: '{AUTO: THIRD PARTY NAME} regarding {AUTO: APPLICANTS NAME}',
      user_name: '{AUTO: CURRENT USERS NAME}',
      amount_to_pay: '{AUTO: AMOUNT TO PAY}',
      date_for_part_payment: '{AUTO: DATE FOR PAYMENT}')

h2.govuk-heading-m Application is not eligible for refund-representation
.confirmation-letter
  = t('new_letters.refund.not_eligible_html',
      reference: '{AUTO: APPLICATION REFERENCE}',
      full_name: '{AUTO: APPLICANTS NAME}',
      legal_rep: '{AUTO: THIRD PARTY NAME}',
      greeting: '{AUTO: THIRD PARTY NAME} regarding {AUTO: APPLICANTS NAME}',
      user_name: '{AUTO: CURRENT USERS NAME}')

h2.govuk-heading-m Application is eligible for partial refund-representation
.confirmation-letter
  = t('new_letters.refund.part_representation_html',
      reference: '{AUTO: APPLICATION REFERENCE}',
      full_name: '{AUTO: APPLICANTS NAME}',
      legal_rep: '{AUTO: THIRD PARTY NAME}',
      greeting: '{AUTO: THIRD PARTY NAME} regarding {AUTO: APPLICANTS NAME}',
      user_name: '{AUTO: CURRENT USERS NAME}',
      fee: '{AUTO: FEE AMOUNT}',
      amount_refunded: '{AUTO: PARTIAL REMISSION AMOUNT}',
      amount_to_pay: '{AUTO: REFUND AMOUNT}',
      income_type: '{AUTO: Your total monthly income/Your average income for the last 3 months}',
      total_income: '£{AUTO: APPLICANTS INCOME}',
      children_young: '{AUTO: APPLICANTS CHILDREN 0-13}',
      children_old: '{AUTO: APPLICANTS CHILDREN 14+}')

h2.govuk-heading-m Application is eligible for full refund-representation
.confirmation-letter
  = t('new_letters.refund.full_html',
    reference: '{AUTO: APPLICATION REFERENCE}',
    full_name: '{AUTO: APPLICANTS NAME}',
    legal_rep: '{AUTO: THIRD PARTY NAME}',
    greeting: '{AUTO: THIRD PARTY NAME} regarding {AUTO: APPLICANTS NAME}',
    user_name: '{AUTO: CURRENT USERS NAME}')

h2.govuk-heading-m Reference code received out of time-representation
.confirmation-letter
  = t('new_letters.new_letters.reference_code_html',
          reference: '{AUTO: APPLICATION REFERENCE}',
          full_name: '{AUTO: APPLICANTS NAME}',
          legal_rep: '{AUTO: THIRD PARTY NAME}',
          greeting: '{AUTO: THIRD PARTY NAME} regarding {AUTO: APPLICANTS NAME}',
          application_received: '{AUTO: DATE APPLICATION RECEIVED}',
          user_name: '{AUTO: CURRENT USERS NAME}')

h2.govuk-heading-m Processed application results in evidence check-representation
.confirmation-letter
  = t('new_letters.new_letters.processed_application.header_html',
          reference: '{AUTO: APPLICATION REFERENCE}',
          greeting: '{AUTO: THIRD PARTY NAME} regarding {AUTO: APPLICANTS NAME}',
          evidence_due: '{AUTO: DATE EVIDENCE DUE}')
  = t('new_letters.new_letters.processed_application.wages_html', wage_period: '{AUTO: LAST CALENDAR MONTH} {AUTO: LAST THREE MONTHS}')
  = t('new_letters.new_letters.processed_application.bank_statements_html', wage_period: '{AUTO: LAST CALENDAR MONTH} {AUTO: LAST THREE MONTHS}')
  = t('new_letters.new_letters.processed_application.child_maintenance_html')
  = t('new_letters.new_letters.processed_application.benefits_and_credits_html')
  = t('new_letters.new_letters.processed_application.rental_html')
  = t('new_letters.new_letters.processed_application.goods_selling_html')
  = t('new_letters.new_letters.processed_application.other_income_header_html')
  = t('new_letters.new_letters.processed_application.prisoner_income_html', reference: '{AUTO: APPLICATION REFERENCE}')
  = t('new_letters.new_letters.processed_application.footer_html', user_name: '{AUTO: CURRENT USERS NAME}')

h2.govuk-heading-m Evidence check - requested, but not received-representation
.confirmation-letter
  = t('new_letters.new_letters.evidence_check_html',
          reference: '{AUTO: APPLICATION REFERENCE}',
          full_name: '{AUTO: APPLICANTS NAME}',
          legal_rep: '{AUTO: THIRD PARTY NAME}',
          greeting: '{AUTO: THIRD PARTY NAME} regarding {AUTO: APPLICANTS NAME}',
          evidence_due: '{AUTO: DATE EVIDENCE DUE}',
          user_name: '{AUTO: CURRENT USERS NAME}')

h2.govuk-heading-m Evidence check - requested, but not received, refund-representation
.confirmation-letter
  = t('new_letters.new_letters.evidence_check_refund_html',
          reference: '{AUTO: APPLICATION REFERENCE}',
          full_name: '{AUTO: APPLICANTS NAME}',
          legal_rep: '{AUTO: THIRD PARTY NAME}',
          greeting: '{AUTO: THIRD PARTY NAME} regarding {AUTO: APPLICANTS NAME}',
          evidence_due: '{AUTO: DATE EVIDENCE DUE}',
          user_name: '{AUTO: CURRENT USERS NAME}')

h2.govuk-heading-m Compulsory information missing from new application-representation
.confirmation-letter
  = t('new_letters.new_letters.information_missing_html',
          full_name: '{AUTO: APPLICANTS NAME}',
          legal_rep: '{AUTO: THIRD PARTY NAME}',
          greeting: '{AUTO: THIRD PARTY NAME} regarding {AUTO: APPLICANTS NAME}',
          application_received: '{AUTO: DATE APPLICATION RECEIVED}',
          user_name: '{AUTO: CURRENT USERS NAME}')

h2.govuk-heading-m Application is eligible for full remission-representation
.confirmation-letter
  = t('new_letters.new_letters.full_remission_html',
          full_name: '{AUTO: APPLICANTS NAME}',
          legal_rep: '{AUTO: THIRD PARTY NAME}',
          greeting: '{AUTO: THIRD PARTY NAME} regarding {AUTO: APPLICANTS NAME}',
          reference: '{AUTO: APPLICATION REFERENCE}',
          user_name: '{AUTO: CURRENT USERS NAME}')