=render('shared/report_by_court',
        path: report_raw_data_path,
        header: 'Raw data extract',
        form_name: 'forms_finance_report',
        checkbox_label: '',
        checkbox_2_label: 'All offices?',
        courts: ocmc_courts)
