=t('devise.mailer.invitation_instructions.hello', name: @resource.name)

=t('devise.mailer.invitation_instructions.set_up', url: root_url)

=t('devise.mailer.invitation_instructions.guidance')

=t('devise.mailer.invitation_instructions.list_1')

=t('devise.mailer.invitation_instructions.list_2')

=accept_user_invitation_url(invitation_token: @token)

=t('devise.mailer.invitation_instructions.list_3')

=t('devise.mailer.invitation_instructions.warning')

=t('devise.mailer.invitation_instructions.ignore')
