=t('devise.mailer.reset_password_instructions.hello', name: @resource.name)

=t('devise.mailer.reset_password_instructions.someone_requested_reset')

=t('devise.mailer.reset_password_instructions.guide')

=edit_password_url(@resource, reset_password_token: @token)

=t('devise.mailer.reset_password_instructions.ignore_this')
